<style>
  @media only screen and (max-width: 320px) {

   body {
      font-size: 2em;
   }
   .text {
     font-size: 3vw;
   }
   .other-text {
     font-size: 5vh;
   }
}
</style>

<a href="/auth/fitbit">Log In with Your Fitbit Account</a>
<p>This is a demonstration for a final Project on mobile health appplications.</p>
<p>To make full use of this website, you can authenticate with a Fitbit account.</p>
<p>If you do not already have a Fitbit account, You can also create a new account <a href=https://www.fitbit.com/signup>here</a>.</p>
