<style>
html { font-size: 1rem; }

@media (min-width: 576px) {
    html { font-size: 1.25rem; }
}
@media (min-width: 768px) {
    html { font-size: 1.5rem; }
}
@media (min-width: 992px) {
    html { font-size: 1.75rem; }
}
@media (min-width: 1200px) {
    html { font-size: 2rem; }
}
</style>
<a href="/auth/fitbit">Log In with Your Fitbit Account</a>
<p>This is a demonstration for a final Project on mobile health appplications.</p>
<p>To make full use of this website, you can authenticate with a Fitbit account.</p>
<p>If you do not already have a Fitbit account, You can also create a new account <a href=https://www.fitbit.com/signup>here</a>.</p>
<link rel="stylesheet" href="./css/bootstrap.min.css">
