<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="./css/bootstrap.min.css">
<a href="/auth/fitbit">Log In with Your Fitbit Account</a>
<p>This is a demonstration for a final Project on mobile health appplications.</p>
<p>To make full use of this website, you can authenticate with a Fitbit account.</p>
<p>If you do not already have a Fitbit account, You can also create a new account <a href=https://www.fitbit.com/signup>here</a>.</p>
