<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<h1>Daily Activity Survey</h1>
<h4>Ecological Momentary Assessment (EMA): this survey includes assessment, confirmation, and goal-setting for activity.</h4>
<p>Optional questions to address quality of sleep, and weighing behaviors.</p>
<p>Required fields are followed by <strong><abbr title="required">*</abbr></strong>.</p>
<p>View your <a href="/profile">profile</a>, <a href="/steps">steps</a>, <a href="/survey">take a survey</a>, view your <a href="/entries"> past entries</a>, or <a href="/logout">logout</a>.</p>

<form action="/survey" method="POST">
  <fieldset>
    <label for="assess">Assessment: How do you feel about your activity yesterday?<abbr title="required">*</label>
    <p>
      <input type="radio" name="assess" id="q1" value="2" required="required">
      <label for="q1">I am satisfied with my activity.</label>
    </p>
    <p>
      <input type="radio" name="assess" id="q2" value="1">
      <label for="q2">I feel okay about my activity.</label>
    </p>
    <p>
      <input type="radio" name="assess" id="q3" value="0">
      <label for="q3">I am not satisfied with my activity.</label>
    </p>
  </fieldset>
  <fieldset>
    <label for="confirm">Confirmation: Please review your activity data, then confirm your progress.<abbr title="required">*</label>
    <p>
      <input type="radio" name="confirm" id="q1" value="2" required="required">
      <label for="q1">Yesterday I was more active than the day before.</label>
    </p>
    <p>
      <input type="radio" name="confirm" id="q2" value="1">
      <label for="q2">Yesterday I was about as active as the day before.</label>
    </p>
    <p>
      <input type="radio" name="confirm" id="q3" value="0">
      <label for="q3">Yesterday I was less active than the day before.</label>
    </p>
  </fieldset>
  <fieldset>
    <label for="goal">Goal-Setting: Today, I plan to...<abbr title="required">*</label>
    <p>
      <input type="radio" name="goal" id="q1" value="2" required="required">
      <label for="q1">Be more active than yesterday</label>
    </p>
    <p>
      <input type="radio" name="goal" id="q2" value="1">
      <label for="q2">Be about as active as yesterday.</label>
    </p>
    <p>
      <input type="radio" name="goal" id="q3" value="0">
      <label for="q3">Be less active about yesterday.</label>
    </p>
  </fieldset>
  <fieldset>
    <label for="sleep">How would you describe your sleep from last night?</label>
    <p>
      <input type="radio" name="sleep" id="q1" value="2">
      <label for="q1">I got a satisfying amount of sleep.</label>
    </p>
    <p>
      <input type="radio" name="sleep" id="q2" value="1">
      <label for="q2">I got an adequate amount of sleep.</label>
    </p>
    <p>
      <input type="radio" name="sleep" id="q3" value="0">
      <label for="q3">I did not get enough sleep.</label>
    </p>
  </fieldset>
  <fieldset>
    <label for="weigh">Do you feel like weighing yourself today?</label>
    <p>
      <input type="radio" name="weigh" id="q1" value="2">
      <label for="q1">Yes, I feel like weighing myself.</label>
    </p>
    <p>
      <input type="radio" name="weigh" id="q2" value="1">
      <label for="q2">I am indifferent about weighing myself.</label>
    </p>
    <p>
      <input type="radio" name="weigh" id="q3" value="0">
      <label for="q3">No, I do not feel like weighing myself.</label>
    </p>
  </fieldset>
  <section>
    <p>
      <button type="submit">Submit your responses</button>
    </p>
  </section>
</form>
